* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  -webkit-box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.40);
  -moz-box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.40);
  box-shadow: 4px 4px 14px 0px rgba(50, 50, 50, 0.40);
  padding: 15px;
}

.Add-job::placeholder {
  color: #d4d4d4;
}

.Title h2 {
  text-align: center;
  padding: 15px 0;
}

.Form-enter-job {
  margin-top: 30px;
  width: 100%;
  border-bottom: 0.5px solid #d4d4d4;

}

.Add-job {
  width: 100%;
  padding: 15px 0 15px 15px;
  border: none;
  font-size: 1.5rem;
}